.todo{
    width: max(80%, 400px);
    margin: 20px auto;
    background-color:rgb(248, 237, 224);
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 2px 4px rgb(104, 104, 84);
}

.todo_form{
    display: flex;
    margin-bottom: 10px;
    padding:10px;
}

.todo_input{
    padding: 10px;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    border-radius: 8%;
    margin-right: 10px;
    flex:1; 
    /* display : flex 안의 아이템 중 여유 공간만큼 늘리자 */
}

.todo_button{
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    cursor: pointer;
    color:#fff;
}

.todo_button--add{
    background-color: rgb(22, 102, 172);
}

.todo_item{
    display:flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid rgb(19, 102, 174);
}

.todo_check{
    width: 20px;
    height: 20px;
    cursor: pointer;
    accent-color : rgb(5, 58, 104);
}

.todo_label{
    margin:0 10px;
    flex:1;
}

.todo_button--edit .todo_button--delete{
    font-size: 0.8rem;
    margin-left: 10px;
}

.todo_item--complete > .todo_label{
    text-decoration-line: line-through;
    color: aliceblue;
}

/* a>b : 바로 아래 자식
a b : 전체 자식 중에 한 자식: 자손 */